* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: $mainFontFamily;
 text-transform: uppercase;
}

::selection {
 background: white;
}

button {
 outline:none;
 border: 1px solid #0000009d;
 width: 80px;
 height: 35px;
 margin: auto;
 box-shadow: inset 0px 0px 03px #000000, 1px 1px 5px#000000b6;
 border-radius: 3px;
}

button:focus {
 transform: scale(1.1);
}