@-webkit-keyframes popUp {
  from {
    opacity: 0;
    margin-top: 200px;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    margin-top: 200px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Source Sans Pro, monospace;
  text-transform: uppercase;
}

::-moz-selection {
  background: white;
}

::selection {
  background: white;
}

button {
  outline: none;
  border: 1px solid #0000009d;
  width: 80px;
  height: 35px;
  margin: auto;
  -webkit-box-shadow: inset 0px 0px 3px #000000, 1px 1px 5px #000000b6;
          box-shadow: inset 0px 0px 3px #000000, 1px 1px 5px #000000b6;
  border-radius: 3px;
  cursor: pointer;
}

button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.interface__box {
  background-color: #e2e1e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  max-width: 700px;
  height: 350px;
  margin: 50px auto;
  -webkit-box-shadow: 2px 10px 10px rgba(163, 158, 158, 0.418);
          box-shadow: 2px 10px 10px rgba(163, 158, 158, 0.418);
  -webkit-animation: popUp 1s;
          animation: popUp 1s;
}

.interface__box .box__screen {
  padding: 10px;
  background-color: #fff;
  width: 60%;
  height: 90%;
  margin-right: 20px;
  -webkit-box-shadow: inset -10px -10px 13px #80808063;
          box-shadow: inset -10px -10px 13px #80808063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.interface__box .box__screen .screen__viewNumber {
  font-size: 4em;
  border: none;
  outline: none;
  width: 224px;
}

.interface__box .box__screen .screen__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
}

.interface__box .box__keyboard {
  width: 300px;
  background: #332f2f;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 5px;
}

.interface__box .box__keyboard .keyboard__title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin: auto;
  background: #fff;
  padding: 5px;
}

.interface__box .box__keyboard .keyboard__button {
  font-size: 20px;
  color: #fff;
  width: 60px;
  background: inherit;
}

.interface__box .box__keyboard .button__9 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.interface__box .box__keyboard .keyboard__button--confirm {
  background-color: #3ae22b;
}

.interface__box .box__keyboard .keyboard__button--branco {
  background-color: #ffffff;
}

.interface__box .box__keyboard .keyboard__button--corrige {
  background-color: #fa6e10;
}

table {
  -webkit-box-shadow: 0 3px 3px #8080805d;
          box-shadow: 0 3px 3px #8080805d;
  padding: 5px;
  margin: 80px auto;
}

table tr td {
  background-color: #6985e0;
  padding: 10px;
  text-align: center;
}

table tr td:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=style.css.map */