@import "./functions";
@import "./animations";
@import "./variables";
@import "./assets";

.interface__box {
  background-color: $secondColor;
  display: flex;
  padding: 20px;
  max-width: 700px;
  height: 350px;
  margin: 50px auto;
  animation: popUp 1000ms;

  .box__screen {
    padding: 10px;
    background-color: $thirdColor;
    width: 60%;
    height: 90%;
    margin-right: 20px;
    box-shadow: inset -10px -10px 13px #80808063;
    display: flex;
    flex-direction: column;

    .screen__viewNumber {
      font-size: 4em;
      border: none;
      pointer-events: none;
      width: 70%;
      height: auto;
    }

    .screen__image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: none;
    }
  }

  .box__keyboard {
    width: 300px;
    background: $mainColor;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);

    .keyboard__title {
      grid-column: 1/4;
      text-align: center;
      margin: auto;
      background: $thirdColor;
      padding: 5px;
    }
    .keyboard__button {
      @include text(2);
      color: $thirdColor;
      width: 60px;
      background: inherit;
    }

    .button__9 {
      grid-column: 1/4;
    }
    .keyboard__button--confirm {
      background-color: #3ae22b;
    }
    .keyboard__button--branco {
      background-color: #ffffff;
    }
    .keyboard__button--corrige {
      background-color: #fa6e10;
    }
  }
}

table {
  box-shadow: 0 3px 3px #6965655d;
  padding: 10px;
  margin: 80px auto;
  box-shadow: inset 1px 1px 10px rgb(202, 201, 201);
  td {
    background-color: rgb(226, 227, 229);
    padding: 10px;
    text-align: center;
    width: 200px;
    transition: 0.3s;
    border:1px solid transparent;
  
    &:hover {
      transform: scale(1.03);
      transition: 0.3s;
      border:1px solid $secondColor;
    }
  }
}


