@import "./functions";
@import "./animations";
@import "./variables";
@import "./assets";

.interface__box {
  background-color: $secondColor;
  display: flex;
  padding: 20px;
  max-width: 700px;
  height: 350px;
  margin: 50px auto;
  box-shadow: 2px 10px 10px rgba(163, 158, 158, 0.418);
  
  .box__screen {
   padding:10px;
   background-color: $thirdColor;
   width: 60%;
   height: 90%;
   margin-right:20px;
   box-shadow: inset -10px -10px 13px #80808063;
   display: flex;
   flex-direction: column;
   .screen__viewNumber {
     font-size: 4em;
     border:none;
     outline: none;
     width: 224px;
    
   }

   .screen__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: none;

   }
   
  }

  .box__keyboard {
    width: 300px;
    background: $mainColor;
    display: grid;
    padding:10px;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5px;
    
     .keyboard__title{
        grid-column-start: 1 ;
        grid-column-end: 4 ;
        text-align: center;
        margin: auto;
        background: $thirdColor;
        padding: 5px;
     }
      .keyboard__button {
       @include text(2);
       color: $thirdColor;
       width: 60px;
       background: inherit;
       
      }

     .button__9 {
      grid-column-start: 1;
      grid-column-end: 4;
      
     }
     .keyboard__button--confirm {
      background-color: rgb(58, 226, 43);
     }
     .keyboard__button--branco {
      background-color: rgb(255, 255, 255);
     }
     .keyboard__button--corrige {
      background-color: rgb(250, 110, 16);
     }
   }
}

table {
  box-shadow: 0 3px 3px rgba(128, 128, 128, 0.363);
  padding:5px;
   margin: 80px auto;

}

table tr td{
  background-color: rgb(105, 133, 224);
  padding: 10px;
  text-align: center;
    &:hover {
      transform: scale(1.1);
      transition: .3s;
    }
}





